@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/index.scss";


#corpo_formulario {
  width: 100%;
  height: 2200px;
}


#TituloTopo {
  position: absolute;
  margin-top: 5%;
  margin-left: 4%;
}

#h1-titulo {
  font-family: $font_1;
  margin-left: 5%;
  display: inline;
  color: $cor_2;
}

.h2 {
  margin-left: 5%;
  color: $cor_2;
  font-weight: 500;
  margin-top: 3%;
  font-family: $font_2;
}


#h2-informacoes {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
  margin-top: 10%;
}


.lb_rg {
  margin-left: 5%;
  color: $cor_3;
}


.lb_dt {
  margin-left: 5%;
  color: $cor_3;
}


p {
  font-family: $font_1;
  margin-left: 5%;
  color: #9B9A9A;
}


label {
  font-family: $font_1;
}



.InputForm {
  width: 20%;
  @include input;
}


#nome_apelido {
  @include input_apelido;
  line-height: 45px;
  opacity: 0.8;
}


.input_separado_rg {
  @include input_separado_rg;
}


.InputSecundario {
  @include input_separado_data;
}


#suframa {
  position: relative;
  width: 45%;
  padding-top: 28%;
  height: 600px;
}


.h2_suframa {
  font-family: $font_1;
  color: $cor_2;
}



//Area da Suframa

#AreaSuframa {
  //position: relative;
  width: 40%;
  height: 500px;
  margin-left: 33%;
  margin-top: -52%;
}

.SelectSuframa {
  @include input_suframa;
}

.CodigoSuframa {
  margin-left: 1% !important;
  width: 39% !important;
  @include input_suframa;
}


.label_codigo_suframa {
  font-family: $font_2;
  color: $cor_2;
}


.input_suframa {
  @include input_suframa;
}


.InputInscricao {
  @include input_inscricao;
}

////////////////////////////////////////


#AreaObservacoes {
  width: 35%;
  height: 400px;
  margin-left: 33%;
  margin-top: -10%;
}



///////////////////////////////////////

#AreaEnderecoPrincipal {
  width: 22%;
  height: 700px;
  margin-top: 18%;
  margin-left: 4%;
  //background-color: blue;
}


.h2_endereco {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
}

.lb_cep {
  font-family: $font_2;
}

.input_cep {
  width: 90% !important;
  @include input;
}

.input_endereco {
  width: 90% !important;
  @include input;
}

///////////////////////////////////
#AreaEnderecoSecundario {
  //background-color: red;
  width: 22%;
  height: 700px;
  margin-left: 32%;
  margin-top: -41.7%;
  //background-color: blue;
}

.p_obs {
  font-family: $font_1;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}


.TextArea {
  width: 73%;
  height: 220px;
  margin-top: 2%;
  border: 1px solid $cor_4;
  border-radius: 5px;
  background-color: $cor_4;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  font-size: 16px;
}

///////////////////////////////////////

#AreaEnderecoTerciario {
  //background-color: red;
  width: 22%;
  height: 700px;
  margin-left: 60%;
  margin-top: -37.7%;
  //background-color: blue;
}


.btn_proxima_etapa {
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  @include button-add-processeguir;
}


.h2_p_fisica {
  color: $cor_3;
  position: relative;
  margin-left: 28%;
  top: 28%;
  text-decoration: none;
}


@media screen and (min-width: 300px) and (max-width: 450px) {

  #Area_Formulario {
    height: 2000px;
    margin-top: 12%;
    margin-left: 5%;
  }

  #corpo_formulario {
    min-height: 3900px;
    max-height: 3000px;
  }

  #h1-titulo {
    font-size: 20px;
  }

  #h2-informacoes {
    font-size: 19px;
  }

  .InputForm {
    width: 80%;
  }


  .InputSecundario {
    width: 85%;
    margin-left: 5%;
  }

  #suframa {
    position: relative;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
  }

  .CodigoSuframa {
    display: inline;
    width: 82%;
    margin-left: -2%;
  }

  .SelectSuframa {
    width: 89%;
  }

  .label_num_incricao {
    font-family: $font_2;
    color: $cor_4;
  }

  .input_inscricao {
    width: 80%;
    margin-top: 15%;
  }

  .text_area {
    width: 90%;
  }

  #AreaSuframa {
    position: absolute;
    background-color: blue;
    // margin-top: -20%;
  }

  #AreaObservacoes {
    // position: absolute;
    position: relative;
    left: 4%;
    display: inline;
  }

  #AreaEnderecoPrincipal {
    position: relative;
    width: 100%;
    margin-top: 10%;
    background-color: blue;
  }


  #AreaEnderecoSecundario {
    position: relative;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
    // background-color: blue;
  }


  #AreaEnderecoTerciario {
    position: relative;
    margin-top: 20%;
    margin-left: 0;
    width: 100%;
    // background-color: blue;
  }

  .input_endereco {
    //background-color: red;
    width: 80%;
  }

  .btn_proxima_etapa {
    margin-top: 10%;
    margin-left: 5%;
    @include button-add-processeguir;
  }
}



//Tamanho para celulares medios
@media (min-width: 451px) and (max-width: 480px) {

  #h1-titulo {
    margin-top: 14px;
  }

  #corpo_formulario {
    min-height: 1850px;
    max-height: 2000px;
  }

  .h2 {
    top: 30%;
    margin-left: 5%;
    font-size: 17px;
  }

  #tipo_pessoa {
    width: 80%;
    margin-top: 5%;
    height: 100px;
  }

  .lb_pessoa_fisica {
    position: absolute;
    margin-top: 3%;
  }

  .lb_pessoa_juridica {
    position: absolute;
    margin-top: 4%;
  }

  .lb_pessoa_estrangeira {
    position: absolute;
    margin-top: 4%;
  }


  .input {
    width: 75%;
  }

  #nome_apelido {
    @include input_apelido;
    width: 80% !important;
    line-height: 45px;
    opacity: 0.8;
  }

  #suframa {
    position: relative;
    height: 500px;
    width: 100%;
    margin-left: 2%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
    margin-left: 2%;
  }

  .input_suframa {
    width: 75%;
    margin-left: 2%;
  }

  .label_num_inscricao,
  .label_codigo_suframa {
    margin-left: 2%;
  }

  .p_obs {
    margin-top: -30%;
    margin-left: 4%;
  }


  .select {
    width: 80%;
    margin-left: 2%;
  }


  .btn_adicionar_email {
    margin-left: 27%;
  }

  .input_inscricao {
    width: 75%;
    margin-top: 8%;
    margin-left: 2%;
  }


  .text_area {
    width: 80%;
    margin-left: 4%;
  }

  #conteudo_observacoes {
    //position: absolute;
    margin-left: 0ch;
    width: 100%;
  }

  .input_secundario_rg {
    width: 60%;
  }

  .input_secundario_data {
    width: 80%;
    margin-left: 15vh;
  }


  .btn_proxima_etapa {
    margin-top: 10%;
    margin-left: 5%;
    @include button-add-processeguir;
  }


}

//Tamanho para celulares grandes
@media (min-width: 480px) and (max-width: 600px) {

  #h1-titulo {
    margin-top: 14px;
  }

  #corpo_formulario {
    min-height: 1800px;
    max-height: 2000px;
  }

  .h2 {
    top: 30%;
    margin-left: 5%;
    font-size: 17px;
  }

  #nome_apelido {
    @include input_apelido;
    width: 75% !important;
    line-height: 45px;
    opacity: 0.8;
  }

  #suframa {
    position: relative;
    height: 500px;
    width: 100%;
    margin-left: 2%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
    margin-left: 2%;
  }

  .input_suframa {
    width: 75%;
    margin-left: 2%;
  }

  .label_num_inscricao,
  .label_codigo_suframa,
  .p_obs {
    margin-left: 2%;
  }

  .select {
    width: 80%;
    margin-left: 2%;
  }


  .btn_adicionar_email {
    margin-left: 27%;
  }

  .input_inscricao {
    width: 75%;
    margin-top: 8%;
    margin-left: 2%;
  }

  .text_area {
    width: 80%;
    margin-left: 2%;
  }

  #conteudo_observacoes {
    //position: absolute;
    margin-left: 0ch;
    width: 100%;
  }

  .input_secundario_rg {
    width: 60%;
  }

  .input_secundario_data {
    width: 75%;
    margin-left: 5%;
  }


  .btn_proxima_etapa {
    margin-top: 10%;
    margin-left: 5%;
    @include button-add-processeguir;
  }


}

//Tamanho para Ipad e Tablets
@media (min-width: 601px) and (max-width: 850px) {

  #h1-titulo {
    margin-top: 14px;
  }

  #corpo_formulario {
    min-height: 1800px;
    max-height: 2000px;
  }

  .h2 {
    top: 30%;
    margin-left: 5%;
    font-size: 17px;
  }


  .input {
    width: 70%;
  }

  #nome_apelido {
    @include input_apelido;
    width: 70% !important;
    line-height: 45px;
    opacity: 0.8;
  }


  #suframa {
    position: relative;
    height: 500px;
    width: 100%;
    margin-left: 2%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
    margin-left: 2%;
  }

  .input_suframa {
    width: 75%;
    margin-left: 2%;
  }

  .label_num_inscricao,
  .label_codigo_suframa,
  .p_obs {
    margin-left: 2%;
  }

  .select {
    width: 80%;
    margin-left: 2%;
  }

  .btn_adicionar_email {
    margin-left: 27%;
  }

  .input_inscricao {
    width: 75%;
    margin-top: 8%;
    margin-left: 2%;
  }

  .text_area {
    width: 80%;
    margin-left: 2%;
  }

  .input_secundario_rg {
    width: 60%;
  }

  .input_secundario_data {
    width: 75%;
    margin-left: 5%;
  }


  .btn_proxima_etapa {
    margin-top: 10%;
    margin-left: 5%;
    @include button-add-processeguir;
  }

}