@import "@/assets/scss/index.scss"; 

#conteudo{
    width: 100%;
    height: 700px;
}

#endereco_1{
    width: 100%;
    display: inline-block;
}

.input{
    @include input;
}

.input_cep{
    @include input_cep;
}

.h2_endereco{
    font-family: $font_1;
}

.btn_concluir{
    display: block;
    margin-left: 5%;
    margin-top: 3%;
    @include button-add-processeguir;
}