@import "@/assets/scss/index.scss"; 

#conteudo{
    width: 100%;
    //background-color: red;
    height: 900px;
}

#endereco_principal{
    position: absolute;
    width: 26%;
    height: 600px;
    margin-left: 4%;
    margin-top: 8vw;
    //display: inline;
}

#endereco_secundario{
    position: absolute;
    width: 26%;
    height: 600px;
    margin-left: 4%;
    top: 59.5vw;
}

#campos_endereco_secundario{
    //background-color: aqua;
    margin-top: -6%;
}

#endereco_terciario{
    position: absolute;
    width: 26%;
    height: 600px;
    margin-left: 4%;
    top: 59.5vw;
}

#campos_endereco_terciario{
    margin-top: -6%;
}

//input referente ao cep
.input_cep{
    @include input_cep;
}

//todos os inputs da pagina de endereço
.input_endereco{
    width: 80%;
    @include input;
}

.lb_cep{
    margin-left: 5%; 
    font-family: $font_1; 
    color: $cor_2;
}

.h1_info_endereco{
    font-family: $font_1;
    color: $cor_2;
    margin-top: 5%;
    margin-left: 5%;
}

.h2_endereco{
    position: relative;
    font-family: $font_1;
    top:5%;
    left: 6%;
    color: $cor_3;
}


.btn_concluir{
    position: relative;
    //display: inline;
    margin-left: 5%;
    top: 45vw;
    @include button-add-processeguir;
}

#endereco_secundario{
    width: 26%;
    height: 600px;
    margin-left: 35%;
    margin-top: -39%;
    //display: inline;
}

#endereco_terciario{
    width: 26%;
    height: 600px;
    margin-left: 66%;
    margin-top: -39%;
    //display: inline;
}

@media screen and (max-width: 300px) {
    
    #conteudo{
        //width: 100%;
        height: 2000px;
    }

    #endereco_principal{
        display: block;
        //background-color: aqua;
        width: 100%;
    }

    #endereco_secundario{
        width: 100%;
        display: block;
        //background-color: red;
        right: -4%;
        top: 135vh;
    }

    #endereco_terciario{
        display: block;
        //background-color: aqua;
        width: 100%;
        right: -4%;
        top: 230vh;
    }

    .btn_concluir{
        position: relative;
        top: 273vh;
    }

    .lb_cep{
        position: relative;
        //display: none;
        margin-top: 30%;
    }

    .input_cep{
        margin-left: 5vw !important;
        width: 80%;
    }

}
