@import "./cores.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


@mixin button-add-email{
    background: $cor_4;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border-color: $cor_4;
    border: 1px solid #CECCCC;
    font-family: arial;
    color: $cor_2;
    padding: 15px;
} 