@mixin corpo_1 {
    width: 100%;
    background-color: red;
    height: 1300px;
    //max-height: 1650px;
}


@mixin corpo_2 {
    width: 100%;
    height: 1300px;
}


@mixin corpo_3 {
    width: 100%;
    height: 1100px;
}