@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/cores.scss";
@import "@/assets/scss/fonts.scss";


#corpo_formulario {
  margin-top: 5%;
  width: 100%;
  min-height: 2100px;
  max-height: 2450px;
}


#TituloTopo {
  position: absolute;
  margin-top: 5%;
  margin-left: 4%;
}

#h1-titulo {
  font-family: $font_1;
  margin-left: 5%;
  display: inline;
  color: #9B9A9A;
}

.h2 {
  margin-left: 5%;
  color: #9B9A9A;
  font-weight: 500;
  margin-top: 3%;
  font-family: $font_2;
}


#h2-informacoes {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
  margin-top: 10%;
}


.lb_rg {
  margin-left: 5%;
  color: $cor_3;
}


.lb_dt {
  margin-left: 5%;
  color: $cor_3;
}


p {
  font-family: $font_1;
  margin-left: 5%;
  color: #9B9A9A;
}


label {
  font-family: $font_1;
}



.InputForm {

  width: 350px;
  background-color: #CECCCC;
  //background-color: red;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: #CECCCC;
  display: block;
  margin-left: 5%;
  height: 40px;
}


.Form_Email {
  margin-left: 5%;
  width: 21.5%;
  height: 67px;
}

.InputForm_Email_Opcional {
  width: 92%;
  background-color: $cor_4;
  padding: 0px 12px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
}

.btn_add_email {
  position: relative;
  font-weight: 500;
  font-family: $font_2;
  border: none;
  height: 40px;
  background-color: $cor_4;
  color: $cor_2;
}

.btn_add_email:disabled {
  display: none;
}

.icon_btn_add_email {
  position: absolute;
  width: 1.5%;
  margin-top: 6px;
  left: 19%;
}

//Div
.add_email {
  border: 1px solid;
  border-radius: 5px;
  border-color: $cor_4;
  background-color: $cor_4;
  width: 200px;
  height: 40px;
  margin-left: 150px;
}

.deletar_email {
  background-color: red;
  width: 20px;
  height: 20px;
}


.input_separado_rg {
  background-color: $cor_4;
  padding: 0px 12px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  height: 40px;
  width: 16%;
}


.Input_Data_Cadastro {
  width: 215px;
  position: relative;
  background-color: $cor_4;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  height: 40px;
}

.Input_Data_Nascimento {
  position: relative;
  background-color: $cor_4;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  height: 40px;
  width: 200px;
}




.h2_suframa {
  font-family: $font_1;
  color: $cor_2;
}

#AreaSuframa {
  position: relative;
  display: block;
  //background-color: red;
  width: 45%;
  margin-left: 500px;
  margin-top: -930px;
  height: 400px;
}


.SelectSuframa {
  background-color: $cor_4;
  padding: 0px 12px;
  margin-top: 1px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
  width: 372px;
}

.CodigoSuframa {
  // margin-left: 1%;
  width: 350px;
  background-color: $cor_4;
  padding: 0px 12px;
  margin-top: 1%;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
}


.label_codigo_suframa {
  font-family: $font_2;
  color: $cor_2;
}



.InputInscricao {
  background-color: $cor_4;
  padding: 0px 12px;
  margin-top: 5%;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
  width: 350px;
}

////////////////////////////////////////


#AreaObservacoes {
  width: 520px;
  height: 400px;
  margin-left: 500px;
  margin-top: -35px;
}



///////////////////////////////////////

#AreaEnderecoPrincipal {
  display: inline-block;
  width: 22%;
  height: 700px;
  margin-top: 270px;
  margin-left: 50px;
}

#AreaEnderecoSecundario {
  //background-color: red;
  display: inline-block;
  width: 22%;
  height: 700px;
  margin-left: 35px;
  //margin-top: -735px;
  //background-color: blue;
}

#AreaEnderecoTerciario {
  //background-color: red;
  display: inline-block;
  width: 22%;
  height: 700px;
  margin-left: 35px;
  //margin-top: -700px;
  //background-color: blue;
}

.h2_endereco {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
}

.lb_cep {
  font-family: $font_2;
}

.input_cep {
  width: 350px !important;
  background-color: $cor_4;
  //background-color: blue;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  margin-left: 5%;
  height: 40px;
}

.input_endereco {
  width: 350px !important;
  background-color: $cor_4;
  //display: block;
  background-color: rgb(40, 40, 44);
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  margin-left: 5%;
  height: 40px;
}


.p_obs {
  font-family: $font_1;
  font-weight: 500;
  font-size: 22px;
  margin-left: 0;
}


.TextArea {
  width: 73%;
  height: 220px;
  margin-top: 15px;
  border: 1px solid $cor_4;
  border-radius: 5px;
  background-color: $cor_4;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  font-size: 16px;
}

///////////////////////////////////////



.btn_proxima_etapa {
  position: relative;
  margin-left: 5%;
  margin-top: 40px;
  background: $cor_1;
  font-weight: 100;
  font-family: $font_2;
  border-radius: 5px;
  border-color: $cor_1;
  border: 1px solid #003A4C;
  font-family: arial;
  color: $cor_5;
  text-align: 20%;
  height: 56px;
  width: 120px;
}


.h2_p_fisica {
  color: $cor_3;
  position: relative;
  margin-left: 28%;
  top: 28%;
  text-decoration: none;
}


@media only screen and (max-width: 35.999em) {

  * {
    margin: 0;
    padding: 0;
  }


  #corpo_formulario {
    width: 100%;
    min-height: 3750px !important;
    max-height: 4050px !important;
  }

  #h1-titulo {
    font-size: 20px;
  }

  #h2-informacoes {
    font-size: 19px;
  }

  .InputForm {
    width: 80%;
  }


  .InputSecundario {
    width: 85%;
    margin-left: 5%;
  }

  .Input_Data_Cadastro {
    width: 50.5%;
    position: relative;
    background-color: $cor_4;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: $cor_4;
    height: 40px;
  }

  .Input_Data_Nascimento {
    width: 48%;
    position: relative;
    background-color: $cor_4;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: $cor_4;
    height: 40px;
  }

  #AreaSuframa {
    height: 300px;
    width: 100%;
    margin-left: 0;
    margin-top: 15%;

  }

  #suframa {
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
    margin-left: 5% !important;
    margin-top: 7%;
  }

  .label_codigo_suframa {
    margin-left: 5% !important;
  }

  .SelectSuframa {
    margin-left: 5%;
    width: 86%;
  }

  .CodigoSuframa {
    // display: inline;
    width: 80% !important;
    margin-left: 5% !important;
  }

  .label_num_incricao {
    font-family: $font_2;
    color: $cor_4;
  }

  .InputInscricao {
    width: 80%;
    margin-top: 6%;
    margin-left: 5%;
  }

  .TextArea {
    width: 85%;
  }

  #AreaObservacoes {
    // position: absolute;
    background-color: #9B9A9A;
    position: relative;
    top: -10% !important;
    left: 4%;
    display: inline;
  }


  #Area_Enderecos {
    width: 100%;
    height: 2150px;
    margin-top: -2%;
  }

  #AreaEnderecoPrincipal {
    width: 100%;
    margin-left: 0;
    // background-color: blue;
  }


  #AreaEnderecoSecundario {
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
    // background-color: blue;
  }


  #AreaEnderecoTerciario {
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
    // background-color: blue;
  }

  .input_cep {
    //background-color: red;
    width: 79% !important;
  }

  .input_endereco {
    //background-color: red;
    width: 79% !important;
  }

  .btn_proxima_etapa {
    margin-top: 12% !important;
    margin-left: 5%;
    background: $cor_1;
    font-weight: 100;
    font-family: 'Poppins';
    border-radius: 5px;
    border-color: $cor_1;
    border: 1px solid #003A4C;
    font-family: arial;
    color: $cor_5;
    text-align: 20%;
    height: 56px;
    width: 120px;
  }
}



@media only screen and (max-width: 56.688em) {

  * {
    margin: 0;
    padding: 0;
  }


  #corpo_formulario {
    width: 100%;
    min-height: 3750px !important;
    max-height: 4050px !important;
  }

  #h1-titulo {
    font-size: 20px;
  }

  #h2-informacoes {
    font-size: 19px;
  }

  .InputForm {
    width: 80%;
  }


  .InputSecundario {
    width: 85%;
    margin-left: 5%;
  }

  .Input_Data_Cadastro {
    width: 50.5% !important;
    position: relative;
    background-color: $cor_4;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: $cor_4;
    height: 40px;

  }

  .Input_Data_Nascimento {
    width: 48% auto !important;
    position: relative;
    background-color: $cor_4;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: $cor_4;
    height: 40px;
  }

  #AreaSuframa {
    height: 300px;
    width: 100%;
    margin-left: 0;
    margin-top: 15%;

  }

  #suframa {
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
    margin-left: 5% !important;
    margin-top: 7%;
  }

  .label_codigo_suframa {
    margin-left: 5% !important;
  }

  .SelectSuframa {
    margin-left: 5%;
    width: 86%;
  }

  .CodigoSuframa {
    // display: inline;
    width: 80% !important;
    margin-left: 5% !important;
  }

  .label_num_incricao {
    font-family: $font_2;
    color: $cor_4;
  }

  .InputInscricao {
    width: 80%;
    margin-top: 6%;
    margin-left: 5%;
  }

  .TextArea {
    width: 85%;
  }

  #AreaObservacoes {
    // position: absolute;
    background-color: #9B9A9A;
    position: relative;
    top: -10% !important;
    left: 4%;
    display: inline;
  }


  #Area_Enderecos {
    width: 100%;
    height: 2150px;
    background-color: red;
    margin-top: -2%;
  }

  #AreaEnderecoPrincipal {
    width: 100%;
    margin-left: 0;
    //background-color: red;
  }


  // #AreaEnderecoSecundario {
  //   width: 100%;
  //   margin-left: 0;
  //   margin-top: 10%;
  //   // background-color: blue;
  // }


  // #AreaEnderecoTerciario {
  //   width: 100%;
  //   margin-left: 0;
  //   margin-top: 10%;
  //   // background-color: blue;
  // }

  .input_cep {
    //background-color: red;
    width: 79% !important;
  }

  .input_endereco {
    //background-color: red;
    width: 79% !important;
  }

  .btn_proxima_etapa {
    margin-top: 12% !important;
    margin-left: 5%;
    background: $cor_1;
    font-weight: 100;
    font-family: 'Poppins';
    border-radius: 5px;
    border-color: $cor_1;
    border: 1px solid #003A4C;
    font-family: arial;
    color: $cor_5;
    text-align: 20%;
    height: 56px;
    width: 120px;
  }
}



@media screen and (max-width: 74.999em) {

  #h1-titulo {
    margin-top: 14px;
  }

  #corpo_formulario {
    min-height: 1800px;
    max-height: 2000px;
  }

  .h2 {
    top: 30%;
    margin-left: 5%;
    font-size: 17px;
  }


  .input {
    width: 70%;
  }

  #nome_apelido {
    background-color: $cor_4;
    padding: 0px 12px;
    border: 1px solid;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: $cor_4;
    display: block;
    margin-left: 5%;
    height: 40px;
    width: 70% !important;
    line-height: 45px;
    opacity: 0.8;
  }


  #suframa {
    position: relative;
    height: 500px;
    width: 100%;
    margin-left: 2%;
    margin-top: 5%;
  }

  .h2_suframa {
    font-size: 100%;
    margin-left: 2%;
  }

  .input_suframa {
    width: 75%;
    margin-left: 2%;
  }

  .label_num_inscricao,
  .label_codigo_suframa,
  .p_obs {
    margin-left: 2%;
  }

  .select {
    width: 80%;
    margin-left: 2%;
  }

  .btn_adicionar_email {
    margin-left: 27%;
  }

  .input_inscricao {
    width: 75%;
    margin-top: 8%;
    margin-left: 2%;
  }

  .text_area {
    width: 80%;
    margin-left: 2%;
  }

  .input_secundario_rg {
    width: 60%;
  }

  .input_secundario_data {
    width: 75%;
    margin-left: 5%;
  }


  .btn_proxima_etapa {
    margin-top: 10%;
    margin-left: 5%;
    background: $cor_1;
    font-weight: 100;
    font-family: 'Poppins';
    border-radius: 5px;
    border-color: $cor_1;
    border: 1px solid #003A4C;
    font-family: arial;
    color: $cor_5;
    text-align: 20%;
    height: 56px;
    width: 120px;
  }

}