@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/cores.scss";
@import "@/assets/scss/fonts.scss";


#corpo_formulario {
  margin-top: 5%;
  width: 100%;
  min-height: 2150px;
}


#TituloTopo {
  position: absolute;
  margin-top: 5%;
  margin-left: 4%;
}

#h1-titulo {
  font-family: $font_1;
  margin-left: 5%;
  display: inline;
  color: #9B9A9A;
}

.h2 {
  margin-left: 5%;
  color: #9B9A9A;
  font-weight: 500;
  margin-top: 3%;
  font-family: $font_2;
}


#h2-informacoes {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
  margin-top: 10%;
}


.lb_rg {
  margin-left: 5%;
  color: $cor_3;
}


.lb_dt {
  margin-left: 5%;
  color: $cor_3;
}


p {
  font-family: $font_1;
  margin-left: 5%;
  color: #9B9A9A;
}

.option_p{
  font-family: $font_1;
  color: $cor_1;
}


label {
  font-family: $font_1;
}



.InputForm {
  position: relative;
  width: 350px;
  background-color: #CECCCC;
  //background-color: red;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: #CECCCC;
  display: block;
  margin-left: 5%;
  height: 40px;
}


.Form_Email {
  margin-left: 5%;
  width: 21.5%;
  height: 40px;
}

.InputForm_Email_Opcional {
  width: 300px;
  background-color: $cor_4;
  padding: 0px 12px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
}

//icone para excluir o email
#fa-solid-li{
  color: $cor_3;
  position: relative;
  left: 350px;
  top: -30px;
}

.btn_add_email {
  width: 180px;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  margin-left: 100px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid;
  font-family: $font_2;
  border: none;
  height: 40px;
  background-color: $cor_4;
  color: $cor_2;
}

//icone para adicionar o email
.fa-solid{
  position: absolute;
  left: 160px;
}


// .input_separado_rg {
//   background-color:red;
//   background-color: $cor_4;
//   padding: 0px 12px;
//   border: 1px solid;
//   box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
//   border-radius: 5px;
//   font-family: $font_2;
//   border-color: $cor_4;
//   height: 40px;
//   width: 16%;
// }


.Select_Nome_Vendedor{
  position: relative;
  width: 373px;
  background-color: #CECCCC;
  //background-color: red;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: #CECCCC;
  display: block;
  margin-left: 5%;
  height: 40px;
}


.Input_Data_Cadastro {
  width: 215px;
  position: relative;
  background-color: $cor_4;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  height: 40px;
}

.Input_Data_Nascimento {
  position: relative;
  background-color: $cor_4;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  height: 40px;
  width: 200px;
}




.h2_suframa {
  font-family: $font_1;
  color: $cor_2;
}

#AreaSuframa {
  position: relative;
  display: block;
  //background-color: red;
  width: 45%;
  margin-left: 500px;
  margin-top: -930px;
  height: 400px;
}


.SelectSuframa {
  background-color: $cor_4;
  padding: 0px 12px;
  margin-top: 1px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
  width: 372px;
}

.CodigoSuframa {
  // margin-left: 1%;
  width: 350px;
  background-color: $cor_4;
  padding: 0px 12px;
  margin-top: 1%;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
}


.label_codigo_suframa {
  font-family: $font_2;
  color: $cor_2;
}



.InputInscricao {
  background-color: $cor_4;
  padding: 0px 12px;
  margin-top: 5%;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  height: 40px;
  width: 350px;
}

////////////////////////////////////////


#AreaObservacoes {
  width: 520px;
  height: 400px;
  margin-left: 500px;
  margin-top: -35px;
}



///////////////////////////////////////

#AreaEnderecoPrincipal {
  display: inline-block;
  width: 22%;
  height: 500px;
  margin-top: 270px;
  margin-left: 50px;
}

#AreaEnderecoSecundario {
  display: inline-block;
  width: 22%;
  height: 500px;
  margin-left: 10%;
  //margin-top: -735px;
  //background-color: blue;
}

#AreaEnderecoTerciario {
  display: inline-block;
  width: 22%;
  height: 500px;
  margin-left: 10%;
  //margin-top: -700px;
  //background-color: blue;
}

.h2_endereco {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
}

.lb_cep {
  font-family: $font_2;
}

.input_cep {
  width: 350px !important;
  background-color: $cor_4;
  //background-color: blue;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  // margin-left: 5%;
  height: 40px;
}



.input_endereco {
  width: 350px !important;
  background-color: $cor_4;
  //display: block;
  background-color: $cor_4;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  // margin-left: 5%;
  height: 40px;
}


.p_obs {
  font-family: $font_1;
  font-weight: 500;
  font-size: 22px;
  margin-left: 0;
}


.TextArea {
  width: 73%;
  height: 220px;
  margin-top: 15px;
  border: 1px solid $cor_4;
  border-radius: 5px;
  background-color: $cor_4;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  font-size: 16px;
}


.btn_proxima_etapa {
  position: relative;
  margin-left: 5%;
  margin-top: 5% !important;
  background-color: $cor_1;
  font-weight: 100;
  font-family: $font_2;
  border-radius: 5px;
  border-color: $cor_1;
  border: 1px solid #003A4C;
  font-family: arial;
  color: $cor_5;
  text-align: 20%;
  height: 56px;
  width: 120px;
}


.h2_p_fisica {
  color: $cor_3;
  position: relative;
  margin-left: 28%;
  top: 28%;
  text-decoration: none;
}


@media (max-width: 36.75em) {
  


  #corpo_formulario {
    position: relative;
    //background-color: red;
    width: 100% !important;
    height: 4400px;
  }

  #h1-titulo{
    position: relative;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 2% !important;
  }

  p{
    display: none;   
  }

  .InputForm, .CodigoSuframa, .InputInscricao{
    display: block;
    width: 270px;
  }

  .InputForm_Email_Opcional{
    width: 230px;
  }

  .Input_Data_Nascimento, .Input_Data_Cadastro, .SelectSuframa, .CodigoSuframa, .InputInscricao{
    margin-left: 20px;
    width: 290px;
  }

  .lb_dt{
    margin-left: 20px;
  }

  .btn_add_email{
    margin-left: 55px;
  }

  .h2_suframa, .label_codigo_suframa{
    font-size:15px;
    margin-left: 20px;
  }

  .Select_Nome_Vendedor{
    display: block;
    width: 300px;
  }

  .SelectSuframa{
    width: 300px;
  }

  #AreaSuframa{
    //background-color: beige;
    margin-left: 0;
    margin-top: 50px;
    display:block;
  }

  #AreaObservacoes{
    background-color: red;
    margin-top: -50px;
    width: 100%;
    margin-left: 0;
  }

  // .p_obs{
  //   //margin-left: 20px;
  //   color: aqua;
  //   font-size: 150px;
  //   margin-top: 50%;
  //  }
  
  .TextArea {
    margin-left: 20px;
    margin-top: 30%;
    width: 270px !important;
    height: 180px;
    //background-color: rgb(0, 255, 157);
  }

  #Area_Enderecos{
    height: 2300px;
    margin-top: -270px;
  }

  #Area_Enderecos input{
    width: 270px !important;
 }

  #AreaEnderecoPrincipal, #AreaEnderecoSecundario, #AreaEnderecoTerciario{
    //background-color: rgb(0, 60, 255);
    display: block;
    margin-top: 70%;
    margin-left: 5px;
  }

 .h2_endereco{
  margin-left: 20px;
 }

}


@media (min-width: 38.5em ) and (max-width:61.999em){

  #corpo_formulario {
    height: 3550px;
    //background-color: blue;
  }


  #Area_Enderecos{
    //background-color: #003A4C;
    height: 2300px;
  }

  #AreaEnderecoPrincipal{
    //background-color: rgb(0, 60, 255);
    display: block;
    margin-top: 40%;
    margin-left: 5px;
  }

  #AreaEnderecoSecundario{
    display: inline-block;
    margin-top: 40%;
    margin-left: 5px;
  }


  #AreaEnderecoTerciario{
    display: inline-block;
    margin-top: 40%;
    margin-left: 50%;
  }


  .btn_proxima_etapa{
    margin-top: -20px;
  }

}