@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/cores.scss";
@import "@/assets/scss/fonts.scss";

* {
  margin: 0;
  padding: 0;
}


#corpo_formulario_estrangeiro {
  width: 100%;
  min-height: 1200px;
}



#h1-titulo-p-estrangeira {
  position: relative;
  font-family: $font_1;
  margin-left: 5%;
  margin-top: 5%;
  color: $cor_2;
}


.h2 {
  margin-left: 5%;
  color: $cor_2;
  font-weight: 500;
  margin-top: 3%;
  font-family: $font_2;
}


#h2-informacoes {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
  margin-top: 6%;
}


.lb_rg {
  margin-left: 5%;
  color: $cor_3;
}


.lb_dt {
  margin-left: 5%;
  color: $cor_3;
}

p {
  font-family: $font_1;
  margin-left: 5%;
  color: #9B9A9A;
}


label {
  font-family: $font_1;
}


.input {
  width: 350px;
  background-color: $cor_4;
  padding: 0px 12px;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  display: block;
  margin-left: 5%;
  height: 40px;
}



.data_p_estrangeira {
  margin-left: 1% !important;
  position: relative;
  background-color: $cor_4;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  border-radius: 5px;
  font-family: $font_2;
  border-color: $cor_4;
  height: 40px;
  width:200px;
}


.p_obs {
  position: absolute;
  font-family: $font_1;
  font-weight: 500;
  font-size: 22px;
  margin-left: 1%;
  // margin-top: 10%;
}


#AreaObservacoes {
  position: absolute;
  width: 32%;
  height: 250px;
  margin-left: 70px;
  margin-top: 40px;
}

.text_area_p_estrangeira {
  position: absolute;
  width: 350px;
  height: 215px;
  //display: inline;
  margin-top: 10%;
  box-sizing: border-box;
  border: 1px solid;
  border-color: $cor_4;
  border-radius: 5px;
  background-color: $cor_4;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  font-size: 16px;
}


.btn_proxima_etapa {
  position: absolute;
  margin-top: 25% !important;
  margin-left: -24%;
  background: $cor_1;
  font-weight: 100;
  font-family: 'Poppins';
  border-radius: 5px;
  border-color: $cor_1;
  border: 1px solid #003A4C;
  font-family: arial;
  color: $cor_5;
  text-align: 20%;
  height: 56px;
  width: 120px;
}



@media(max-width: 35.999em) {

  #corpo_formulario_estrangeiro {
    height: 1200px;   
    //background-color: aqua;
  }

  #h1-titulo {
    font-size: 15px;
  }

  .h2 {
    position: absolute;
    top: 29%;
    font-size: 15px;
  }


  #h2-informacoes {
    font-size: 19px;
  }

  .input {
    width: 80%;
    height: 30px;
  }


  .data_p_estrangeira {
    width: 262px;
    height: 30px;
    margin-left: 5% !important;

    @media(max-width:502px){
      width: 225px;
    }
  }

  .select {
    width: 89%;
  }


  .label_num_incricao {
    font-family: $font_2;
    color: $cor_4;
  }

  .input_inscricao {
    width: 80%;
    margin-top: 15%;
  }

  #AreaObservacoes {
    width: 100%;
    height: 500px;
    margin-left: 0;
    margin-top: 6% !important;
  }

  .p_obs {
    margin-top: 15px;

    @media(max-width:574px){
      margin-left: 40px;
    }
  }

  .text_area_p_estrangeira {
    width: 450px;
    height: 300px;
    margin-top: 17%;
    margin-left: 35px;

      @media(max-width:560px){
        margin-top: 300px;
      }

      @media(max-width:559px){
        margin-top: 100px;
      }

      @media(max-width:502px){
        //background-color: red;
        margin-left: 25px;
        height: 250px;
        width: 400px;
      }

      @media(max-width:440px){
        width: 300px;
    }
  
  }

  .btn_proxima_etapa {
    margin-top: 550px !important;
    // margin-left: -450px;


    // @media(max-width:509px){
    //   margin-left: -420px;
    // }

    @media(max-width:440px){
      //margin-top: 400px;
      margin-left: -230px;
    }
  }

}


@media(min-width: 36em ) and (max-width: 56.688em){

  #corpo_formulario_estrangeiro {
    height: 1400px;
    //background-color: red;
  }

  #h1-titulo{
    font-size: 15px;
  }

  .h2{
    position: absolute;
    top: 29%;
    font-size: 15px;
  }

  #h2-informacoes {
    font-size: 19px;
  }

  .input {
    width: 80%;
    height: 30px;
  }


  .data_p_estrangeira {
    width: 30%;
    height: 30px;
    margin-left: 5% !important;
  }


  .select {
    width: 89%;
  }


  .label_num_incricao{
    font-family: $font_2;
    color: $cor_4;
  }

  .input_inscricao{
    width: 80%;
    margin-top: 15%;
  }

  #AreaObservacoes{
    width: 100%;
    height: 300px;
    margin-left: 0;
    margin-top: 6%;
  }

  .p_obs {
    margin-left: 5%;
  }

  .text_area_p_estrangeira{
    width: 80%;
    height: 300px;
    margin-top: 17%;
    margin-left: 5%;
  }

  .btn_proxima_etapa {
    margin-top: 700px !important;
    margin-left: -470px;


    @media(max-width:843px){
      margin-left:  -55%;
    }
  }

}


@media(min-width:56.688em) and (max-width:101.063em){
  .btn_proxima_etapa {
    
    @media(max-width:1539px){
      //background-color: red;
      margin-top: 28% !important;
      margin-left: -370px;
    }

    @media(max-width:1293px){
      //background-color:aqua;
      margin-top: 37% !important;
      margin-left: -350px;
    }

  }

}