@import "@/assets/scss/fonts.scss";
@import "@/assets/scss/cores.scss";
@import "@/assets/scss/buttons.scss";

#Formulario {
    width: 100%;
    height: 1300px;
}


.Titulo_Cadastro_Vendas {
    font-family: $font_1;
    color: $cor_2;
    margin-left: 5.8%;
    margin-top: 5%;
}

.p_data_e {
    font-family: $font_1;
    margin-left: 5%;
    color: $cor_2;
}

.p_data_p {
    font-family: $font_1;
    margin-left: 5%;
    color: $cor_2;
}


.Formulario_1 {
    display: inline-block;
    //position: relative;
    width: 32%;
    margin-top: 10px;
    margin-left: 50px;
}

.btn_nome_cliente{
    width: 230px;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    margin-left: 100px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid;
    font-family: $font_2;
    border: none;
    height: 40px;
    background-color: $cor_4;
    color: $cor_2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p_nome_cliente{
    margin-left: 10px;
}

.p_nome_cliente_r{
    margin-left: 10px;
    font-family: $font_2;
    font-weight: 600;
    color: $cor_2;
}

#area_nome_cliente{
    width: 90%;
    margin-left: 20px;
    margin-top: 35px;
    height: 50px;
    //background-color: red;
}

// Div Modal
.modal{ 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content{
    width: 90%;
    height: 600px;
    overflow-y: scroll;
    background-color: $cor_4;
    margin: 5% auto 15% auto;
}

.modal-content::-webkit-scrollbar-track{
	border-radius:0;
	background-color: #D0D4CE;
}

.modal-content::-webkit-scrollbar{
	width: 10px;
	background-color: #D0D4CE;
}

.modal-content::-webkit-scrollbar-thumb{
	border-radius:5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #71806B;
}

.conteudo_registro{
    margin-top: 100px;
    font-family: $font_1;
    font-weight: 600;
    //background-color: blue;
}

.input_pesquisa_nome_cliente{
    width: 420px;
    margin-left: 33%;
    margin-top: 50px;
    //height: 45px;
    padding: 12px 20px;
    background-color: $cor_4;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1.5px solid $cor_3;
}

table, th, td {
    border:1px solid $cor_2;
    width: 200px;
    cursor: pointer;
    text-align: center;
  }

  th{
    color: #696969;
  }

  td{
    color: $cor_2;
  }

  td:hover{
    background-color: $cor_5;
    transition: 0.7s;
}


//Animação
.animate{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
//////////////////////////////////


.Formulario_2 {
    position: absolute;
    display: inline-block;
    //position: relative;
    width: 32%;
    margin-left: 8px;
    margin-top: 12px;
    // background-color: aquamarine;
}

.InputForm_Vendas {
    width: 350px;
    background-color: $cor_4;
    padding: 0px 12px;
    border: 1px solid;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: $cor_4;
    display: block;
    margin-left: 5%;
    height: 40px;
}

.Select_Nome_Vendedor{
    position: relative;
    width: 373px;
    background-color: #CECCCC;
    //background-color: red;
    padding: 0px 12px;
    border: 1px solid;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: #CECCCC;
    display: block;
    margin-left: 5%;
    height: 40px;
}

.Select_Descricao_Tab_Preco{
    position: relative;
    width: 373px;
    background-color: #CECCCC;
    //background-color: red;
    padding: 0px 12px;
    border: 1px solid;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: #CECCCC;
    display: block;
    margin-left: 5%;
    height: 40px;
}

.Select_Tipo_Venda{
    position: relative;
    width: 373px;
    background-color: #CECCCC;
    //background-color: red;
    padding: 0px 12px;
    border: 1px solid;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: #CECCCC;
    display: block;
    margin-left: 5%;
    height: 40px;
}

.Select_Tipo_Frete{
    position: relative;
    width: 373px;
    background-color: #CECCCC;
    //background-color: red;
    padding: 0px 12px;
    border: 1px solid;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: #CECCCC;
    display: block;
    margin-left: 5%;
    height: 40px;
}

.Select_Forma_Pagamento{
    position: relative;
    width: 373px;
    background-color: #CECCCC;
    //background-color: red;
    padding: 0px 12px;
    border: 1px solid;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: $font_2;
    border-color: #CECCCC;
    display: block;
    margin-left: 5%;
    height: 40px;
}

.btn_concluir_cadastro_vendas {
    position: absolute;
    margin-left: 70px;
    margin-top: -6%;
    background: $cor_1;
    font-weight: 100;
    font-family: $font_2;
    border-radius: 5px;
    border-color: $cor_1;
    border: 1px solid #003A4C;
    font-family: arial;
    color: $cor_5;
    text-align: 20%;
    height: 56px;
    width: 120px;
}


.disabled-field {
    opacity: 0.7;
}


@media (min-width: 62.75em) and (max-width: 90em){

    .Formulario_2 {
        position: absolute;
        display: inline-block;
        //position: relative;
        width: 32%;
        margin-left: 70px;
        margin-top: 12px;
        //background-color: aquamarine;
    }

            
}

@media (max-width: 62.75em){

    #Formulario {
        width: 100%;
        //background-color: red;
        height: 1650px;
    }

    .Formulario_2 {
        position: absolute;
        display: block;
        width: 32%;
        margin-left: 50px;
        margin-top: 20px;
    }

    .btn_concluir_cadastro_vendas{
        margin-top: -90px;
        margin-left: 50px;

    }
            
}


@media (max-width: 26.938em){

    #Formulario{
        height: 2150px;
    }


    .btn_concluir_cadastro_vendas{
        margin-top: -90px;
        margin-left: 50px;

    }

    .InputForm_Vendas{
        //background-color: blue;
        width: 340px;
        margin-left: -22px;
    }

    .Select_Nome_Vendedor, .Select_Descricao_Tab_Preco, .Select_Tipo_Venda, .Select_Tipo_Frete, .Select_Forma_Pagamento{
        width: 370px;
        margin-left: -22px;
    }

}

