@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/index.scss";


#corpo_formulario_p_juridica {
  margin-top: 5%;
  width: 100%;
  height: 1700px;
}

#Titulo_Topo {
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
}

#h1-titulo {
  font-family: $font_1;
  margin-left: 5%;
  display: inline;
  color: $cor_2;
}


#h2-informacoes {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
  margin-top: 6%;
}


.lb_rg {
  margin-left: 5%;
  color: $cor_3;
}


.lb_dt {
  margin-left: 5%;
  color: $cor_3;
}

p {
  font-family: $font_1;
  margin-left: 5%;
  color: #9B9A9A;
}


label {
  font-family: $font_1;
}


.Input_Forma_P_Juridica {
  width: 20%;
  @include input;
}


#nome_apelido {
  @include input_apelido;
  //content: attr(data-text);
  line-height: 45px;
  opacity: 0.8;
}


.Input_Inscricao {
  margin-left: 5px !important;
  display: inline;
  width: 11% !important;
  @include input_separado_rg;
}


.Input_Data_Fundacao {
  display: inline;
  width: 12% !important;
  @include input_separado_data;
}


#AreaSuframa {
  width: 40%;
  height: 500px;
  margin-left: 33%;
  margin-top: -30%;
}

.h2_suframa {
  font-family: $font_1;
  color: $cor_2;
}

.select {
  @include select;
}


.label_codigo_suframa {
  font-family: $font_2;
  color: $cor_2;
}

.label_num_inscricao {
  font-family: $font_2;
  color: $cor_2;
}


.input_suframa {
  margin-left: 1% !important;
  display: inline;
  width: 40% !important;
  @include input_suframa;
}


.input_inscricao {
  width: 26% !important;
  display: inline;
  @include input_inscricao;
}

#AreaObservacoes {
  width: 40%;
  height: 400px;
  margin-left: 33%;
  margin-top: -8%;
}


.p_obs {
  font-family: $font_1;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}


.text_area {
  width: 63%;
  height: 200px;
  padding: 12px 20px;
  margin-top: 2%;
  box-sizing: border-box;
  border: 1px solid;
  border-color: $cor_4;
  border-radius: 5px;
  background-color: $cor_4;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  font-size: 16px;
  resize: none;
}

#Area_Enderecos {
  width: 100%;
  height: 700px;
  margin-top: -7%;
}


#Area_Pessoa_Juridica {
  width: 20%;
  margin-left: 40%;
  margin-top: 3%;
  height: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: $font_2;
  background-color: $cor_4;
  border-radius: 5px;
}

.h2_p_juridica {
  color: $cor_3;
  position: relative;
  margin-left: 28%;
  top: 28%;
  text-decoration: none;
}

#AreaEnderecoPrincipal {
  width: 22%;
  height: 700px;
  margin-top: 5%;
  margin-left: 4%;
  //background-color: blue;
}


.h2_endereco {
  font-family: $font_2;
  margin-left: 5%;
  font-weight: 500;
  color: $cor_2;
}

.lb_cep {
  font-family: $font_2;
}

.input_cep {
  width: 90% !important;
  @include input;
}

.input_endereco {
  width: 90% !important;
  @include input;
}

////////////////////////////////////////
/// 
#AreaEnderecoSecundario {
  //background-color: red;
  width: 22%;
  height: 700px;
  margin-left: 32%;
  margin-top: -35.2%;
  //background-color: blue;
}

.p_obs {
  font-family: $font_1;
  font-weight: 500;
  font-size: 22px;
  margin: 0;
}

#AreaEnderecoTerciario {
  //background-color: red;
  width: 22%;
  height: 700px;
  margin-left: 60%;
  margin-top: -35.2%;
  //background-color: blue;
}

.btn_proxima_etapa {
  margin-left: 5%;
  @include button-add-processeguir;
}

// @media screen and (max-width: 300px) {

//   #corpo_formulario_p_juridica {
//     min-height: 1800px;
//     max-height: 2000px;
//   }

//   #h1-titulo {
//     font-size: 20px;
//   }

//   .h2 {
//     position: absolute;
//     top: 29%;
//     font-size: 19px;
//   }

//   .lb_pessoa_fisica {
//     position: absolute;
//     margin-top: 13%;
//   }

//   .lb_pessoa_juridica {
//     position: absolute;
//     margin-top: 14%;
//   }

//   .lb_pessoa_estrangeira {
//     position: absolute;
//     margin-top: 15%;
//   }


//   #h2-informacoes {
//     font-size: 19px;
//   }

//   .input {
//     width: 80%;
//   }

//   .input_apelido {
//     width: 80%;
//     opacity: 0.8;
//   }

//   .btn_adicionar_email {
//     margin-left: 15%;
//   }

//   .input_secundario_inscricao {
//     width: 55%;
//   }

//   .input_secundario_data {
//     width: 80%;
//     margin-left: 5%;
//   }

//   //Area da Suframa

//   #suframa {
//     position: relative;
//     //background-color: red;
//     //height: 500px;
//     width: 100%;
//     margin-left: 5%;
//     margin-top: 5%;
//   }

//   .h2_suframa {
//     font-size: 100%;
//   }

//   .input_suframa {
//     width: 82%;
//     margin-left: -2%;
//   }

//   .select {
//     width: 89%;
//   }


//   .label_num_incricao {
//     font-family: $font_2;
//     color: $cor_4;
//   }

//   .input_inscricao {
//     width: 80%;
//     margin-top: 15%;
//   }

//   .text_area {
//     width: 90%;
//   }

//   .btn_proxima_etapa {
//     margin-top: 10%;
//     margin-left: 5%;
//     @include button-add-processeguir;
//   }

//   .radio_1 {
//     position: absolute;
//     margin-left: 35vh;
//     margin-top: 16%;
//   }

//   .radio_2 {
//     position: absolute;
//     margin-left: 35vh;
//     margin-top: 16%;
//   }

//   .radio_3 {
//     position: absolute;
//     margin-left: 35vh;
//     margin-top: 16%;
//   }

// }

// //Tamanho para celulares pequenos
// @media (min-width: 301px) and (max-width: 450px) {

//   #h1-titulo {
//     margin-top: 14px;
//   }

//   #corpo_formulario_p_juridica {
//     min-height: 1800px;
//     max-height: 2000px;
//   }

//   .h2 {
//     top: 30%;
//     font-size: 17px;
//   }

//   .input {
//     width: 85%;
//   }

//   .input_apelido {
//     width: 85%;
//     opacity: 0.8;
//   }

//   .btn_adicionar_email {
//     margin-left: 24%;
//   }

//   #suframa {
//     position: relative;
//     height: 500px;
//     width: 100%;
//     margin-left: 2%;
//     margin-top: 5%;
//   }

//   .h2_suframa {
//     font-size: 100%;
//     margin-left: 2%;
//   }

//   .input_suframa {
//     width: 85%;
//     margin-left: 2%;
//   }

//   .select {
//     width: 89%;
//     margin-left: 2%;
//     //background-color: red;
//   }

//   .label_num_inscricao {
//     //position: relative;
//     margin-left: 2%;
//     //margin-top: 2%;
//   }

//   .input_inscricao {
//     width: 85%;
//     margin-left: 2%;
//     margin-top: 8%;
//   }

//   .text_area {
//     width: 80%;
//   }

//   #conteudo_observacoes {
//     //position: absolute;
//     margin-left: 0ch;
//     width: 100%;
//   }

//   .input_secundario_rg {
//     width: 68%;
//   }

//   .input_secundario_data {
//     width: 80%;
//     margin-left: 15vh;
//   }

//   .btn_proxima_etapa {
//     margin-top: 10%;
//     margin-left: 5%;
//     @include button-add-processeguir;
//   }


// }

// //Tamanho para celulares medios
// @media (min-width: 451px) and (max-width: 480px) {

//   #h1-titulo {
//     margin-top: 14px;
//   }

//   #corpo_formulario_p_juridica {
//     min-height: 1850px;
//     max-height: 2000px;
//   }

//   .h2 {
//     top: 30%;
//     margin-left: 5%;
//     font-size: 17px;
//   }


//   .lb_pessoa_fisica {
//     position: absolute;
//     margin-top: 3%;
//   }

//   .lb_pessoa_juridica {
//     position: absolute;
//     margin-top: 4%;
//   }

//   .lb_pessoa_estrangeira {
//     position: absolute;
//     margin-top: 4%;
//   }


//   .input {
//     width: 75%;
//   }

//   .input_apelido {
//     width: 75%;
//     opacity: 0.8;
//   }

//   #suframa {
//     position: relative;
//     height: 500px;
//     width: 100%;
//     margin-left: 2%;
//     margin-top: 5%;
//   }

//   .h2_suframa {
//     font-size: 100%;
//     margin-left: 2%;
//   }

//   .input_suframa {
//     width: 75%;
//     margin-left: 2%;
//   }

//   .label_num_inscricao,
//   .label_codigo_suframa {
//     margin-left: 2%;
//   }

//   .p_obs {
//     margin-top: -30%;
//     margin-left: 4%;
//   }


//   .select {
//     width: 80%;
//     margin-left: 2%;
//   }


//   .btn_adicionar_email {
//     margin-left: 27%;
//   }

//   .input_inscricao {
//     width: 75%;
//     margin-top: 8%;
//     margin-left: 2%;
//   }


//   .text_area {
//     width: 80%;
//     margin-left: 4%;
//   }

//   #conteudo_observacoes {
//     //position: absolute;
//     margin-left: 0ch;
//     width: 100%;
//   }

//   .input_secundario_rg {
//     width: 60%;
//   }

//   .input_secundario_data {
//     width: 80%;
//     margin-left: 15vh;
//   }


//   .btn_proxima_etapa {
//     margin-top: 10%;
//     margin-left: 5%;
//     @include button-add-processeguir;
//   }


// }

// //Tamanho para celulares grandes
// @media (min-width: 480px) and (max-width: 600px) {

//   #h1-titulo {
//     margin-top: 14px;
//   }

//   #corpo_formulario_p_juridica {
//     min-height: 1800px;
//     max-height: 2000px;
//   }

//   .h2 {
//     top: 30%;
//     margin-left: 5%;
//     font-size: 17px;
//   }


//   .input {
//     width: 75%;
//   }

//   .input_apelido {
//     width: 75%;
//     opacity: 0.8;
//   }

//   #suframa {
//     position: relative;
//     height: 500px;
//     width: 100%;
//     margin-left: 2%;
//     margin-top: 5%;
//   }

//   .h2_suframa {
//     font-size: 100%;
//     margin-left: 2%;
//   }

//   .input_suframa {
//     width: 75%;
//     margin-left: 2%;
//   }

//   .label_num_inscricao,
//   .label_codigo_suframa,
//   .p_obs {
//     margin-left: 2%;
//   }

//   .select {
//     width: 80%;
//     margin-left: 2%;
//   }


//   .btn_adicionar_email {
//     margin-left: 27%;
//   }

//   .input_inscricao {
//     width: 75%;
//     margin-top: 8%;
//     margin-left: 2%;
//   }

//   .text_area {
//     width: 80%;
//     margin-left: 2%;
//   }

//   #conteudo_observacoes {
//     //position: absolute;
//     margin-left: 0ch;
//     width: 100%;
//   }

//   .input_secundario_rg {
//     width: 60%;
//   }

//   .input_secundario_data {
//     width: 75%;
//     margin-left: 5%;
//   }


//   .btn_proxima_etapa {
//     margin-top: 10%;
//     margin-left: 5%;
//     @include button-add-processeguir;
//   }


// }

// //Tamanho para Ipad e Tablets
// @media (min-width: 601px) and (max-width: 850px) {

//   #h1-titulo {
//     margin-top: 14px;
//   }

//   #corpo_formulario_p_juridica {
//     min-height: 1800px;
//     max-height: 2000px;
//   }

//   .h2 {
//     top: 30%;
//     margin-left: 5%;
//     font-size: 17px;
//   }

//   .input {
//     width: 70%;
//   }

//   .input_apelido {
//     width: 70%;
//     opacity: 0.8;
//   }

//   #suframa {
//     position: relative;
//     height: 500px;
//     width: 100%;
//     margin-left: 2%;
//     margin-top: 5%;
//   }

//   .h2_suframa {
//     font-size: 100%;
//     margin-left: 2%;
//   }

//   .input_suframa {
//     width: 75%;
//     margin-left: 2%;
//   }

//   .label_num_inscricao,
//   .label_codigo_suframa,
//   .p_obs {
//     margin-left: 2%;
//   }

//   .select {
//     width: 80%;
//     margin-left: 2%;
//   }

//   .btn_adicionar_email {
//     margin-left: 27%;
//   }

//   .input_inscricao {
//     width: 75%;
//     margin-top: 8%;
//     margin-left: 2%;
//   }

//   .text_area {
//     width: 80%;
//     margin-left: 2%;
//   }

//   .input_secundario_rg {
//     width: 60%;
//   }

//   .input_secundario_data {
//     width: 75%;
//     margin-left: 5%;
//   }


//   .btn_proxima_etapa {
//     margin-top: 10%;
//     margin-left: 5%;
//     @include button-add-processeguir;
//   }

// }

// @media (min-width: 851px) and (max-width: 1200px) {

//   #h1-titulo {
//     margin-top: 14px;
//   }


//   #corpo_formulario_p_juridica {
//     min-height: 2000px;
//     max-height: 2200px;
//   }


//   .h2 {
//     top: 30%;
//     margin-left: 5%;
//     font-size: 17px;
//   }

//   .input {
//     width: 70%;
//   }


//   .input_apelido {
//     width: 70%;
//     opacity: 0.8;
//   }


//   #suframa {
//     position: relative;
//     height: 500px;
//     width: 100%;
//     margin-left: 2%;
//     margin-top: 5%;
//   }


//   .h2_suframa {
//     font-size: 100%;
//     margin-left: 2%;
//   }


//   .input_suframa {
//     width: 55%;
//     margin-left: 2%;
//   }


//   .label_num_inscricao,
//   .label_codigo_suframa,
//   .p_obs {
//     margin-left: 2%;
//   }


//   .select {
//     width: 76%;
//     margin-left: 2%;
//   }


//   .btn_adicionar_email {
//     margin-left: 27%;
//   }


//   .input_inscricao {
//     width: 75%;
//     margin-top: 8%;
//     margin-left: 2%;
//   }


//   .text_area {
//     width: 80%;
//     margin-left: 2%;
//   }


//   .input_secundario_rg {
//     width: 62%;
//   }


//   .input_secundario_data {
//     width: 75%;
//     margin-left: 5%;
//   }


//   .btn_proxima_etapa {
//     margin-top: 10%;
//     margin-left: 2%;
//     @include button-add-processeguir;
//   }


//   #conteudo_observacoes {
//     //position: absolute;
//     margin-left: 0ch;
//     width: 100%;
//   }

// }