@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/index.scss"; 

  #etapas{
    color: $cor_1;
    margin-left: 45%;
    margin-top: 5%;
  }

  #corpo_formulario{
    width: 100%;
    height: 1200px;
  }

  
  #h1-titulo{
    font-family:'Poppins', sans-serif;
    margin-left: 5%;
    color: $cor_2;
    margin-top: 3%;
  }


  #tipo_pessoa{
    width: 12%;
    height: 110px;
    border-radius: 5px;
    margin-left: 5%;
    background-color: $cor_4;
  }

  .h2{
    margin-left: 5%;
    color: #9B9A9A;
    font-weight: 500;
    margin-top: 3%;
    font-family: 'Poppins';
  }


  #h1-informacoes{
    font-family:'Poppins', sans-serif;
    margin-left: 5%;
    color: $cor_3;
    margin-top: 6%;
  }
  
  p{
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    color: #9B9A9A;
  }

  .btn_adicionar_email{
    @include button-add-email;
  }

  .btn_proxima_etapa{
    @include button-add-processeguir;
  }

  .input{
    @include input;
  }

  #parte2{
    width: 30%;
    margin-left: 60%;
    margin-top: -40%;
    height: 400px;
    background-color: red;
  }




