@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/index.scss";


#Corpo_Tela_Inicial {
    width: 100%;
    min-height: 1000px;
    
}

#opcoes_tela_inicio{
    width: 100%; 
    margin-top: 5%;
}

.h1_Cadastro_Cliente, .h1_Cadastro_Venda {
    text-decoration: none;
  }

.h1-seja-bem-vindo {
    font-family: $font_2;
    display: inline-block;
    position: center;
    margin-left: 40%;
    //padding-top: 5px;
    color: $cor_3;
}

.opcoes_tela_inicio{
    margin-top: 4%;
    width: 100%;
    height: 300px;
    //background-color: blue;
}

.h1_Cadastro_Cliente{
    position: absolute;
    font-family: $font_2;
    display: inline-block;
    margin-left: 30%;
    padding-top: 85px;
    color: $cor_3 ;
}

.h1_Cadastro_Venda{
    position: absolute;
    font-family: $font_2;
    display: inline-block;
    text-decoration:none;
    margin-left: 50%;
    padding-top: 85px;
    color: $cor_3;
}

.img_icone_cliente{
    width: 5%; 
    position: absolute; 
    margin-top: -5px; 
    margin-left: 36%;
}

.img_icone_vendedor{
    width: 5%; 
    position: absolute; 
    margin-top: -5px; 
    margin-left: 56%;
}


@media only screen and (max-width: 32.000em) {


    #Corpo_Tela_Inicial{
        //background-color: red;
    }

    .h1-seja-bem-vindo {
        //background-color: blue;
        margin-left: 130px;
        margin-top: 200px;

        @media(max-width:450px){
            margin-left: 100px;
        }

        @media(max-width:380px){
            margin-left: 50px;
        }

    }

    .opcoes_tela_inicio{
        //display: none;
        //background-color: rgb(59, 232, 174);
        height: 600px;

        .img_icone_vendedor{
            margin-top: 80px;
            margin-left: 350px;
            width: 70px;

            @media(max-width:450px){
                //margin-top: 100px;
                margin-left: 170px;
                margin-top: 305px;
            }

            @media(max-width:380px){
                margin-left: 130px;
            }

        }

        .img_icone_cliente{
            margin-top: 80px;
            margin-left: 100px;
            width: 70px;

            @media(max-width:450px){
                //margin-top: 100px;
                margin-left: 170px;
            }

            @media(max-width:380px){
                margin-left: 130px;
            }
        }   

        .h1_Cadastro_Cliente{
            margin-left: 25px;
            margin-top: 75px;
            font-size: 20px;
            display: block;

            @media(max-width:450px){
                //margin-top: 100px;
                margin-left: 100px;
            }

            @media(max-width:380px){
                margin-left: 70px;
            }
        }

        .h1_Cadastro_Venda{
            margin-left: 275px;
            margin-top: 75px;
            font-size: 20px;
            display: block;

            @media(max-width:450px){
                margin-top: 300px;
                margin-left: 100px;
            }

            @media(max-width:380px){
                margin-left: 70px;
            }
        }

    }
}

@media (min-width: 31em) and (max-width:47em){

    .h1-seja-bem-vindo {
       //color: red;
        margin-left: 32%;
        margin-top: 210px;
    }

    .h1_Cadastro_Cliente{
        margin-left: 40px;
    }

    .h1_Cadastro_Venda{
        margin-left: 470px;

        @media(max-width:645px){
            margin-left: 330px;
        }
    }

    .img_icone_cliente{
        width: 60px;
        margin-left: 150px;
    }

    .img_icone_vendedor{
        width: 60px;
        margin-left: 550px;

        @media(max-width:645px){
            margin-left: 430px;
        }
    }

}


@media only screen and (min-width: 48em){


    .h1-seja-bem-vindo {
        //color: blue;
        margin-left: 40%;
        margin-top: 210px;
    }

    .h1_Cadastro_Cliente{
        @media(max-width:1285px){
            margin-left:300px;
        }

        @media(max-width:768px){
            margin-left:50px;
        }

    }

    .h1_Cadastro_Venda{
        @media(max-width:1285px){
            margin-left:700px;
        }

        @media(max-width:1138px){
            margin-left:600px;
        }

        @media(max-width:768px){
            margin-left:500px;
        }
    }

    .img_icone_cliente{
        
        @media(max-width:1138px){
            margin-left:700px;
        }

        @media(max-width:768px){
            margin-left:600px;
        }

    }


    .img_icone_vendedor{
        margin-left:800px;

        @media(max-width:1138px){
            margin-left:150px;
        }

    }

    


    
}


//Telas maiores
@media screen and (min-width: 93.75em){
    .img_icone_cliente{
        width: 5%; 
        position: absolute; 
        margin-top: -20px; 
        margin-left: 660px;
    }
    
    .img_icone_vendedor{
        width: 5%; 
        position: absolute; 
        margin-top: -20px; 
        margin-left: 1030px;
    }
    
}
