@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "@/assets/scss/index.scss";


#Corpo_Tela_Inicial {
    width: 100%;
    min-height: 1000px;
    
}

.h1-seja-bem-vindo {
    font-family: $font_2;
    display: inline-block;
    position: center;
    margin-left: 40%;
    //padding-top: 5px;
    color: $cor_3;
}


.h1_Cadastro_Cliente{
    position: absolute;
    font-family: $font_2;
    display: inline-block;
    text-decoration:underline;
    margin-left: 30%;
    //padding-top: 5px;
    color: $cor_3 ;
}

.h1_Cadastro_Venda{
    position: absolute;
    font-family: $font_2;
    display: inline-block;
    text-decoration:underline;
    margin-left: 50%;
    //padding-top: 5px;
    color: $cor_3;
}


@media only screen and (max-width: 30.999em) {

    .h1-seja-bem-vindo {
        //background-color: ;
        margin-left: 15%;
        margin-top: 150px;
    }

}

@media only screen and (min-width: 31em){

    .h1-seja-bem-vindo {
        // color: red;
        margin-left: 32%;
        margin-top: 210px;
    }
}


@media only screen and (min-width: 48em){

    .h1-seja-bem-vindo {
        // color: blue;
        margin-left: 40%;
        margin-top: 210px;
    }


    
}
