* {
    margin: 0;
    padding: 0;
}

.nav-menu {
    width: 100%;
    height: 80px;
    background-color: #003A4C;
}

.nav-content {
    width: 100%;
}

.nav-items {
    width: 100%;
}

li {
    font-family: 'Poppins', sans-serif;
    display: inline;
    font-weight: 900;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

i {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-menu {
        padding-top: 10px;
        position: absolute;
        width: 100%;
    }

    .abrir-menu {
        opacity: 1;
        height: 150px;
    }

    .fechar-menu {
        opacity: 0;
        height: 0;
        padding: 0;
    }

    .nav-content {
        flex-direction: column;
        z-index: 100;
        position: relative;
        transition: all 0.2s ease-out;
    }

    .nav-items {
        flex-direction: column;
    }

    i {
        display: block;
        text-align: right;
        padding: 0 10px 10px 0;
    }
}