* {
    margin: 0;
    padding: 0;
}

.nav-menu {
    width: 100%;
    height: 80px;
    background-color: rgb(205, 67, 67);
}

/* .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    background-color: blue;
    justify-content: center;
    list-style: none;
} */

li {
    padding: 0 10px;
}

i {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-menu {
        padding-top: 10px;
        position: absolute;
        width: 100%;
    }

    .abrir-menu {
        opacity: 1;
        height: 150px;
    }

    .fechar-menu {
        opacity: 0;
        height: 0;
        padding: 0;
    }

    .nav-content {
        flex-direction: column;
        z-index: 100;
        position: relative;
        transition: all 0.2s ease-out;
    }

    .nav-items {
        flex-direction: column;
    }

    i {
        display: block;
        text-align: right;
        padding: 0 10px 10px 0;
    }
}