@import "@/assets/scss/index.scss";


#corpo {
    width: 100%;
    height: 600px;
}

.titulo {
    position: absolute;
    font-family: $font_1;
    color: $cor_2;
    margin-left: 36%;
    top: 20%;
}