@import "@/assets/scss/index.scss";

#corpo {
    background-color:white;
    width: 100%;
    //margin-top: -10%;
    height: 700px !important;
}


#Area_Pessoa_Fisica {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:400px !important;
    margin-left: 35%;
    margin-top: 3%;
    height: 100px;
    font-family: $font_2;
    background-color: $cor_4;
    border-radius: 5px;
}

#Area_Pessoa_Juridica {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:400px !important;
    margin-top: 3%;
    margin-left: 35%;
    height: 100px;
    font-family: $font_2;
    background-color: $cor_4;
    border-radius: 5px;
  }
  

  #Area_Pessoa_Estrangeira {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px !important;
    margin-left: 35%;
    margin-top: 3%;
    height: 100px;
    font-family: $font_2;
    background-color: $cor_4;
    border-radius: 5px;
  }


.titulo {
    position: relative;
    display: inline-block;
    font-family: $font_1;
    color: $cor_2;
    font-size: 35px !important;
    margin-left: 60px;
    margin-top: 5%;
    
}


@media only screen and (max-width: 35.999em) {

    #corpo {
        height: 400px;
    }

    .titulo {
        //color: red;
        font-size: 22px;
        margin-top: 5%;
        //margin-left: 25%;
    }

    #Area_Pessoa_Fisica {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:250px !important;
        margin-left: 25%;
        margin-top: 3%;
        height: 80px;
        font-family: $font_2;
        background-color: $cor_4;
        border-radius: 5px;
    }

    #Area_Pessoa_Juridica {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:250px !important;
        margin-top: 3%;
        margin-left: 25%;
        height: 80px;
        font-family: $font_2;
        background-color: $cor_4;
        border-radius: 5px;
      }
      

      #Area_Pessoa_Estrangeira {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 250px !important;
        margin-left: 25%;
        margin-top: 3%;
        height: 80px;
        font-family: $font_2;
        background-color: $cor_4;
        border-radius: 5px;
      }

    .h2_p_juridica,
    .h2_p_fisica,
    .h2_p_estrangeira {
        font-size: 20px;
        margin-top: 0;
        margin: 0%;
        text-align: center;
    }
}

@media only screen and (max-width: 62.188em) {

    #corpo {
        height: 400px;
    }

    #img_etapas {
        width: 150vw;
        box-sizing: border-box;
        margin-left: -25%;
        margin-top: 3%;
    }

    .titulo {
        //color: aqua;
        font-size: 30px;
        margin-left: 17%;
    }

    // #Area_Pessoa_Fisica {
    //     position: relative;
    //     width: 70%;
    //     height: 70px;
    //     margin-top: 30%;
    //     margin-left: 16%;
    // }

    // #Area_Pessoa_Juridica {
    //     position: relative;
    //     width: 70%;
    //     height: 70px;
    //     margin-top: 10%;
    //     margin-left: 16%;
    // }

    // #Area_Pessoa_Estrangeira {
    //     position: relative;
    //     width: 70%;
    //     height: 70px;
    //     margin-top: 10%;
    //     margin-left: 16%;
    // }

    .h2_p_juridica,
    .h2_p_fisica,
    .h2_p_estrangeira {
        font-size: 20px;
        margin-top: 0;
        margin: 0%;
        text-align: center;
    }
}

@media screen and (max-width: 72.999em) {
    #corpo {
        background-color: red;
        height: 400px;
    }

    #img_etapas {
        width: 150vw;
        box-sizing: border-box;
        margin-left: -25%;
        margin-top: 3%;
    }

    .titulo {
        //color: blue;
        font-size: 35px;
        margin-left: 25%;
    }

    #Area_Pessoa_Fisica {
        position: relative;
        width: 70%;
        height: 70px;
        // margin-top: 30%;
        margin-left: 30%;
    }

    #Area_Pessoa_Juridica {
        position: relative;
        width: 70%;
        height: 70px;
        // margin-top: 10%;
        margin-left: 30%;
    }

    #Area_Pessoa_Estrangeira {
        position: relative;
        width: 70%;
        height: 70px;
        // margin-top: 10%;
        margin-left: 30%;
    }

    .h2_p_juridica,
    .h2_p_fisica,
    .h2_p_estrangeira {
        font-size: 20px;
        margin-top: 0;
        margin: 0%;
        text-align: center;
    }
}